
$primary-font: "Poppins";
$secondary-font: "Raleway";
// Primary colors
$main-color: #3D4655;
$main-light: #657186;
$main-base : #3d4655;
$main-naturel: #ffff;
$main-dark: #0000;


$accent-light: #f7e478;
$accent-base: #febc2c;
$accent-red: #fd413c;
 // Neutral Colors
$ink-light: #bfc5c6;
$ink-base: #707070;
$ink-lighter: #EDEDED;