@import "../theme.scss";


.about {

  &_page {
    flex-direction: column;
    background-color: $accent-base;
    width: 50%;
    padding: 1rem;
  }

  &_subtag {
    p {
      margin-top: -5px;
    }

    img {
      width: 20rem;
      margin-left: -60px;
    }

    p:nth-child(2) {
      margin-left: -60px;
    }

    p:nth-child(3) {
      text-align: right;
      padding-top: 5px;
      font-weight: 500;
      color: $main-naturel;
    }
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_quick {
    background-color: $ink-light;
    border: 4px solid $ink-light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }

  h2 {
    margin-top: 80px;
    text-align: center;
  }

  &_using {
    display: flex;
    justify-content: space-around;
  }

  &_platform {
    display: flex;
    justify-content: space-around;
  }

  &_info {

    display: flex;
    align-items: center;
    justify-content: center;

  }

  &_picture {
    img {
      width: 30rem;
    }
  }

}