@import "../theme.scss";

.home {
  font-family: $primary-font;
  display: flex;

  &_intro {
    p {
      font-weight: 300;
    }
  }

  &_button {
    width: 10vw;
  }

  &_picture {
    margin-left: 50px;
    width: 20rem;
  }

  &_users {
    margin-top: 40px;
  }

  &_usercard {
    margin-top: 50px;
    display: flex;

  }
}