@import '../theme.scss';

.login {
    display: flex;
    font-family: $primary-font;


    &_content {
        background-color: $main-base;
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &_logo {
        color: $main-naturel;
        font-family: $primary-font;
        margin-left: 100px;

        p {
            margin-top: -2px;
            margin-left: 1px;
        }
    }

    &_inputs {
        position: relative;
        left: calc(100px + 20vw - 20vw);
        margin-top: 150px;


        &_button {
            margin-top: 30px;
        }

        &_rights {
            display: flex;
            margin-top: 240px;
            font-family: $primary-font;
        }

        &_rights p:nth-child(2) {
            margin-left: 30px;
        }  
    }

}

