@import '../theme.scss';

.login {
    display: flex;
    font-family: $primary-font;


    &_content {
        background-color: $main-base;
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &_logo {
        color: $main-naturel;
        font-family: $primary-font;
        font-size: 20px;
        margin-left: 100px;


        p {
            font-size: 22px;
            margin-top: -2px;
            margin-left: 1px;
        }
    }

    &_inputs {
        position: relative;
        left: calc(100px + 20vw - 20vw);
        margin-top: 100px;

        &_names {
            display: flex;
        }

        
        &_button {
            margin-top: 30px;
        }

        &_rights {
            display: flex;
            font-size: 14px;
        }
    }

}