.personal {

  &_imageupload {
    margin-top: 20px;
  }

  &_personalInformation {
    margin-top: 80px;
  }

  &_button {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-right: 20px;
    }
  }

}