.security {
  &_button {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      margin-right: 10px;
    }


  }

  &_text {
    margin-top: 20px;
  }

}