@import "../theme.scss";

.button {

  button {
    color: #ffffff;
    background-color: $main-light;
    border-radius: 6px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid $main-light;
    outline: 0;
    width: 100%;
    font-size: 20px;
  }

  .normal {
    background-color: $accent-red;
  }

}