@import "../theme.scss";

.personal {

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  &_image {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}