@import "../theme.scss";

.inputfield {
  flex: 1;

  &_input input {
    border: 1px solid $ink-light;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px;

    width: 100%;
    height: 40px;

  }

  ::placeholder {
    color: $ink-light;
  }


  &_label {
    line-height: 140%;
    letter-spacing: -0.011em;
    display: block;
    padding-bottom: 0px;
  }

}